body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
}

.container {
    background-color: aliceblue;
    margin-top: 30px;
    width: 60%;
    border-radius: 15px;
    padding: 30px;
    box-shadow:18px 18px 5px -3px rgba(26, 32, 26, 0.58)
}

.container h1 {
    margin-bottom:25px;
    text-align:center;
    color:indigo;
}

.container .grupo-input {
    display: flex;
    flex-direction: row;

}

#tarefa-text {
    flex:1;
    padding: 10px;
    /* border: 1px solid #cccc; */
    border-style:solid ;
    border-color: antiquewhite;
    border-width: 1px;
    border-radius: 8px;
    outline: none;
}

#add-tarefa{
    margin-left: 10px;
    padding:10px 20px ;
    background-color: cornflowerblue;
    color: chartreuse;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}